@use 'reset';
@use 'cores';
@use 'header';
@use 'hero';
@use 'spin';
@use 'rdStation';
@use 'sankhya';
@use 'trello';
@use 'processo';
@use 'sobre';
@use 'footer';

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body{
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    color: cores.$corBlack;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: cores.$corGreen;
    border-radius: 1rem;
}
