@use 'reset';
@use 'cores';
@use 'header';
@use 'hero';
@use 'spin';

body{
    background-color: cores.$bg;
    width: 100vw;
    height: 100vh;
    color: cores.$corBlack;
    overflow-x: hidden;
}
