@use'cores';

.spin{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;

    h1 {
        font-size: 2.5rem;
        color: cores.$corGreen;
        margin: 1rem 0;
        font-size: 3rem;
    }

    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;

        &__card {
            border: 2px solid cores.$corGreen;
            width: 400px;
            height: 300px;
            border-radius: .5rem;
        }
    }
}